@charset "utd-8";
/* CSS Document */
p {
	color: black;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 17px;
	line-height: 18px;
	width: 600px;
	background-color: rgba(255, 192, 203, 0.5);
	padding: 20px;
}
.paragraf_2 {color: hotpink; background-color: rgba(255, 197, 203, 0.3);}
.novi_blok {
	background-color: rgba(255, 189, 202, 0.2);
	padding: 20px;
	margin: 20px;
	width: 50%;
}
h1, h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial "sans-serif";
	color:deeppink;
}

span {color: rgb(125, 4, 125);}
.pozadina{
	background-image: url("Slike/04.png");
}

a:link {
	color: black;
	background-color: pink;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000; 
}
a:hover{
	background-color: deeppink;
}
img {
	height: 200px;
}